.container-fluid {
    margin-top: auto;
    
}

h1, #search-button {
    background-color: blue;
    color: white;
    text-align: center;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#search-input {
    height: 30px;
    width: 160px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#search-button {
    background-color: rgb(rgb(98, 171, 214), green, blue);
    color: white;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    /* display: grid; */
    /* text-align: center; */
    /* justify-content: center; */
    height: 30px;
    width: 160px;
    cursor: pointer;
    margin-left: 10px;
    text-justify: auto;
    
}